* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* general */

button {
    background-color: white;
    border: 2px solid black;
    text-transform: uppercase;
    cursor: pointer;
}

button:focus {
    outline-color: yellow;
}

/* start panel */

.start_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cadetblue;
}

.start_game {
    padding: 30px;
    flex-basis: 70%;
    min-height: 200px;
    font-size: 40px;
}

/* wrapper */

.wrapper {
    display: none;
    grid-template-columns: 1fr auto;
    max-width: 1200px;
    background-color: #045d03;
    color: #eaefea;
}

.rules {
    margin: 20px 10px 10px 10px;
    padding: 10px 11px;
    justify-self: right;
    align-self: start;
    grid-column: 2/3;
    grid-row: 1/2;
}

/* game section */

.game {
    margin: 10px;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.game>* {
    margin-top: 10px;
}

.round,
.gamer,
.dices_info,
.throws_number,
.chooseOption {
    font-size: 20px;
}

.chooseOption {
    display: none;
}

.chooseOption.active {
    display: block;
}

.throw,
.rethrow {
    padding: 10px 11px;
}

.throw.disable,
.rethrow.disable {
    display: none;
}

.dices {
    width: 100%;
}

.dice {
    margin-right: 15px;
    width: 50px;
    line-height: 60px;
    font-size: 50px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.dice.active {
    color: black;
    background-color: yellow;
}

.throws_number {
    display: flex;
    line-height: 20px;
}

.throw_number {
    display: block;
    margin-left: 10px;
    height: 20px;
    flex-basis: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(207, 95, 207);
}

.throw_number.active {
    background-color: white;
}

/* statistics section */
.statistics {
    grid-column: 1/-1;
    justify-self: center;
}

.statistics_table {
    margin: 20px auto;
    text-align: center;
}

td {
    width: 50px;
    background-color: #0b7407;
}

th {
    font-weight: normal;
}

.statistics_table,
tr,
th,
td {
    padding: 8px;
    font-size: 18px;
    border-collapse: collapse;
    border: 2px solid #d9e1d8;
}

caption {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: #eda13c;
}

.special,
.special_row {
    color: black;
    background-color: #c99d23;
}

.column_1,
.column_2 {
    cursor: pointer;
}

/* information window */

.informations {
    display: none;
    color: black;
}

.informations.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 150, 150, 0.5);
    z-index: 1;
}

.game_rules {
    width: 80%;
    height: 80%;
    border: 1px solid black;
    background-color: rgb(240, 240, 240);
    overflow: scroll;
}

.game_rules>* {
    margin: 15px;
    word-wrap: break-word;
    text-align: justify;
}

.up {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    height: 30px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
    background-color: white;
}

.up>i {
    margin: 2px 5px;
    font-size: 25px;
    cursor: pointer;
}

.up_title {
    margin: 0 auto;
    align-self: flex-end;
    order: -1;
    font-weight: bold;
}

.up_title,
.title {
    font-style: italic;
    text-transform: uppercase;
}

.down {
    margin-top: 15px;
}

.title {
    font-size: 30px;
    text-align: center;
}

.down>.title+.main_informations {
    margin: 15px 5px 5px 5px;
}

.info_title,
.title_description {
    margin: 5px;
}

.info_title {
    margin-top: 15px;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
}

.inside {
    font-weight: bold;
}

.info_title+ul {
    margin-left: 20px;
}

.info_title+ul>* {
    margin-top: 10px;
}

.author {
    margin: 20px 0 0 5px;
    font-style: italic;
}

/* media */

@media(min-width: 700px) {
    .wrapper {
        margin: 30px auto;
        border: 2px solid black;
        grid-template-columns: auto 1fr auto;
    }

    .rules {
        grid-column: 3/-1;
    }

    .game {
        grid-column: 2/3;
    }

    .statistics {
        margin: 0 25px;
        grid-column: 1/2;
    }

    .dice {
        width: 60px;
        font-size: 60px;
    }
}